

body{
    background-color:rgb(215,223,237);
    color: black;
}

#main-container{
    margin:150px auto;
    width: 600px;
}

table{
    background-color:rgb(215,223,237);
    text-align: center;
    border-collapse: collapse;
    width:100%;
}

th,td{
    border: solid 1px black;
    padding:0;
    
}

thead{
    background-color: rgb(37,54,97);
    color:white
}
